.filters {
  display: block;
}
.filters_mobile {
  display: none;
}
.container {
  min-height: max-content;
  min-width: 300px;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  padding: 30px;
  padding-bottom: 80px;
  border-radius: 5px;
  border: 1px solid rgb(33 37 45);
}

.container .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
}
.category::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgb(33 37 45);
  bottom: 0;
}
.category .title {
  font-size: 0.9rem;
}
.category img {
  cursor: pointer;
}
.container input[type="checkbox"] {
  margin: 8px 15px;
  color-scheme: normal;
}
.active {
  display: block;
  transition: display 3s ease-in-out;
}
.hide {
  display: none;
}

@media (max-width: 600px) {
  .filters {
    display: none;   
  }
  .filters_mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 25px;
  }
  .filters_mobile img {
    height: 24px;
    width: 24px;
  }
  .filters_mobile .overlay {
    position: absolute;
    top: 50px;
    z-index: 999;
    background-color: black;
    right: 0;
  }
}
